/* font-family: 'Libre Franklin', sans-serif;
font-family: 'Seymour One', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #041562;
  color: white;
}

.lol {
  color: #041562;
  color: #11468f;
  color: #da1212;
  color: #eeeeee;
}

img {
  height: 80px;
  width: 80px;
}
